.env
.env.*
!.env.template
#Buidler files
cache
artifacts
temp-artifacts
node_modules
dist/
build/
.vscode
.idea
/types

deployed-contracts.json
/deployments/*
!/deployments/deployed-contracts-main*.json
!/deployments/deployed-contracts-rinkeby*.json
!/deployments/deployed-contracts-develop*.json
!/deployments/deployed-contracts-kovan*.json

/flattened
bend-flattened.*
bend-protocol-flattened.*

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts
coverage.json

node_modules
.env

#Hardhat files
cache
artifacts
storage_layout
out.html
